{
    "Params": {
        "DevMode": {
            "Instrumentation": {
                "command": "",
                "env": {
                    "BLUEMIX_APP_MGMT_ENABLE": "devconsole+shell+inspector",
                    "NODE_ENV": "development"
                },
                "memory": "384M"
            },
            "Packager": "com.ibm.perfectstorm.cloudoe.packager.LiveEditDeploymentPackager"
        },
        "Name": "NiceJavaBot",
        "Target": {
            "Org": "87d219e4-0ff5-4c25-af52-3956a699fd29",
            "Space": "540face2-1c96-4a54-9ebd-f9669273fcc3",
            "Url": "https://api.eu-de.bluemix.net"
        },
        "Timeout": 60
    },
    "Path": "",
    "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
    "Type": "Cloud Foundry"
}